<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
      Hi, {{userName}}
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">

    <a class="link" target="_blank" (click)="logout()">Log Out</a>
  </div>
</div>


<div #main id="msgContainer" class="conversation">
  <div #child class="custom-scroll-container" #scrollMe style="overflow: scroll; height: 65vh;">
  </div>

</div>
<div class="col-3">
  <form class="chat-input">
    <input class="effect-8" placeholder="Type message" type="text" value="hello" name="text" [(ngModel)]="message">
    <span class="focus-border">
    </span>

    <button class="send-button" [disabled]="!message" type="submit" (click)="onSendHit()">Send</button>
  </form>
</div>
