<!-- <div class="speech-wrapper">
  <div *ngIf="message" class="bubble">
    <div class="txt">
      <p class="name">Benni</p> -->
<!-- <p class="message">Hey, check out this Pure CSS speech bubble...</p> -->
<!-- <p class="message">{{message}}</p>
      <span class="timestamp">10:20 pm</span>
    </div>
    <div class="bubble-arrow"></div>
  </div> -->
<!--  Speech Bubble alternative -->
<!-- <div *ngIf="incomingMessage" class="bubble alt">
    <div class="txt">
      <p class="name alt">+353 87 1234 567<span> ~ John</span></p> -->
<!-- <p class="message">Nice... this will work great for my new project.</p> -->
<!-- <p class="message">{{incomingMessage}}</p>
      <span class="timestamp">10:22 pm</span>
    </div>
    <div class="bubble-arrow alt"></div>
  </div>

</div>
<input type="text" name="txt" value="hello" [(ngModel)]="message">
<button (click)="onSendHit()">Send</button> -->


<div #main id="msgContainer" class="conversation">

  <div class="heading">
    <div class="convn-info">Me and Lucas</div>
  </div>
  <div #child class="custom-scroll-container">
  </div>
</div>
<div class="inputchat">
  <input type="text" value="hello" name="text" [(ngModel)]="message">
  <button type="submit" (click)="onSendHit()">Send</button>
</div>
