<!-- <div class="speech-wrapper">
  <div *ngIf="message" class="bubble">
    <div class="txt">
      <p class="name">Benni</p> -->
<!-- <p class="message">Hey, check out this Pure CSS speech bubble...</p> -->
<!-- <p class="message">{{message}}</p>
      <span class="timestamp">10:20 pm</span>
    </div>
    <div class="bubble-arrow"></div>
  </div> -->
<!--  Speech Bubble alternative -->
<!-- <div *ngIf="incomingMessage" class="bubble alt">
    <div class="txt">
      <p class="name alt">+353 87 1234 567<span> ~ John</span></p> -->
<!-- <p class="message">Nice... this will work great for my new project.</p> -->
<!-- <p class="message">{{incomingMessage}}</p>
      <span class="timestamp">10:22 pm</span>
    </div>
    <div class="bubble-arrow alt"></div>
  </div>

</div>
<input type="text" name="txt" value="hello" [(ngModel)]="message">
<button (click)="onSendHit()">Send</button> -->


<div class="conversation">

  <div class="heading">
    <div class="convn-info">Me and Lucas</div>
  </div>
  <div class="krm">
    Kaushalya:
    <div class="content">Hi There</div>
    <div class="message-time">11:57 </div>
  </div>
  <div class="luky">
    Lucas:
    <div class="content">Hi Here?</div>
    <div class="message-time">11:58</div>
  </div>
  <!-- <div class="krm">Kaushalya:
    <div class="content">I'm great... sup?</div>
    <div class="message-time">11:58</div>
  </div>
  <div class="luky">Lucas:
    <div class="content">Not much.</div>
    <div class="message-time">11:59</div>
  </div>
  <div class="krm">Kaushalya:
    <div class="content">Btw coming to my home at evening or not?</div>
    <div class="message-time">12:00</div>
  </div>
  <div class="luky">Lucas:
    <div class="content">I've to work a lot...I'll call you later bye...</div>
    <div class="message-time">12:00</div>
  </div>
  <div class="krm">Kaushalya:
    <div class="content">Ok bye.</div>
    <div class="message-time">12:01</div>
  </div> -->
</div>
<input type="text" value="hello" name="text" [(ngModel)]="message">
<button (click)="onSendHit()">Send</button>

<!-- <p appHighlight>wild class</p>
<article appHighlight></article> -->

<p #child></p>
<!-- <p #parent style="margin-left: 50px"></p> -->
<!-- <article style="margin-left: 50px"></article> -->
